form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 2px black solid;
    padding: 30px;
    background-color: gray;
    align-self: center;
    width: 300px;
    border-radius: 8px;

}


form input,select{
    height: 30px;
    border-radius: 8px;
}